.App {
  text-align: center;
}

.five-day-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.day-container {
  border: 1px solid #ccc;
  padding: 5px;
}

.day-container:first-of-type {
  background-color: #ccc;
}

.weather-icon {
  min-height: 100px;
  min-width: 100px;
}

.temp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 560px) {
  .day-container {
    flex: 1 1 100%;
  }
}